*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-primary: #b4d0e7;
    --light: #ffffff;
    --btn-blue: #0061ff;
    --color-purple:#621039;
    --bg-dark: #000000;

    --block-green: #a2d39b;
    --block-purple:#61082b;
    --block-lightblue:#0093ce;
    --block-orange:#ff1c1c;
    --block-lighter:#f5f5f5;
    --block-red:#d5001f;
    --block-light:#b4d0e7;
    --block-blue:#0d2481;
    --block-yellow:#ffd830;
}

.container{
    width: 70%;
    max-width: 1152px;
    margin: auto;
}

.container-large{
    background-color: var(--bg-primary);
}

.container-small{
    width: 60%;
    margin: auto;
}

.flex{
    display: flex;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.btn{
    color: var(--block-lighter);
    background-color: var(--btn-blue);
    border: none;
    padding: 5px 10px;

}
/*debug*/
/*
.debug #app-header{
    height: 3rem;
    background-color: red;
}

.debug .menu-left, .menu-right{
    border: 1px solid black;
}

.debug .container-large .container{
    height: 30rem;
}
*/
.debug .plan{
    height: 5rem;
    background-color: blue;
}

.debug .row-plan{
    background-color: pink;
}

.debug .enterprise{
    background-color: lightcoral;
    height: 10rem;
}

.debug .enterprise .text-enterprise, .btn-enterprise{
    border: 1px solid red;
} 

.debug .partner{
    background-color: lightgreen;
    height: 25rem;
}

.debug .partner .text-partner, .img-partner{
    border: 1px solid black;
}

.debug .operations .text-operations{
    height: 5rem;
    background-color: rgb(46, 130, 182);
}

.debug .team{
    height: 10rem;
    background-color: aquamarine;
}

.debug .teams-card{
    height: 20rem;
    background-color:violet;
}

.teams-card .cards-left, .cards-right{
    border: 1px solid blue;
}

.debug .partner-card{
    border: 1px solid red;
}

.debug .agency{
    height: 5rem;
}

.debug .questions{
    background-color: khaki;
    height: 15rem;
}

.debug #app-footer{
    height: 20rem;
}

.debug .section-footer{
    height: 15rem;
    border: 1px solid red;
}

/*Header*/

#app-header{
    display: flex;
    vertical-align: baseline;
    padding: 0.75rem;
    position: sticky;
    top: 0;
    left: 0;
}

.menu-left, .menu-right{
    width: 50%;
}

.menu-left .logo-dropbox{
    height: 18px;
    margin-right: 5px;
}

li, a{
    display: inline;
    text-decoration: none;
    color: var(--bg-dark);

    font-size: 12px;
    margin: 0.3rem;
}

.menu-left{
    justify-content: flex-start;
}

.menu-right{
  justify-content: flex-end;
}

/*Main*/
.banner h1{
   padding: 2rem 0;
   font-weight: 800;
   font-size: 55px;
}

.box-banner .text-jumbo{
    width: 40%;
    text-align: start;
}

.text-jumbo .btn-jumbo{
    margin: 1rem 0;
    padding: 10px;
}

.text-jumbo span{
    display: block;
    margin-bottom: 1rem;
}

.box-banner .jumbo{
    width: 60%;
}

.jumbo img{
    margin-left: -1.5rem;
    margin-bottom: -3rem;
}

.row-plan{
    justify-content: space-between;
}

.col-plan{
    width: calc(100% / 12 * 3);
    min-height: 30rem;
    border: 1px solid black;
}

.enterprise{
    width: 100%;
}

.enterprise .text-enterprise{
    width: 70%;
}

.enterprise .btn-enterprise{
    width: 30%;
}

.partner .text-partner{
    width: 60%;
}

.partner .img-partner{
    width: 40%;
}

.row-operations{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.col-operations {
    width: calc(100% / 3);
    min-height: 20rem;
    border: 1px solid black;
}

.teams-card{
    margin-top: 2rem;
}

.teams-card .cards-left, .cards-center, .cards-right{
    width: calc(100% / 3);
}

.teams-card .cards-left, .cards-right{
    flex-wrap: wrap;
}

.partner-card{
    width: calc(100% / 2);
    height: calc(100% / 2);
}

/*Footer*/

#app-footer{
    background-color: var(--bg-dark);
}

.section-footer{
    width: calc(100% / 5);
}