*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-primary: #b4d0e7;
    --light: #ffffff;
    --btn-blue: #0061ff;
    --color-purple:#621039;

    --block-green: #a2d39b;
    --block-purple:#61082b;
    --block-lightblue:#0093ce;
    --block-orange:#ff1c1c;
    --block-lighter:#f5f5f5;
    --block-red:#d5001f;
    --block-light:#b4d0e7;
    --block-blue:#0d2481;
    --block-yellow:#ffd830;
}

/*debug*/

.debug #app-header{
    height: 3rem;
    background-color: red;
}

.debug .menu-left, .menu-right{
    border: 1px solid black;
}

/*Header*/

#app-header{
    display: flex;

    position: sticky;
    top: 0;
    left: 0;
}

.menu-left, .menu-right{
    width: 50%;
}